---
//@ts-nocheck

const url =
  "https://uagccnhppkfznxjxjhqo.supabase.co/rest/v1/kalender?order=event_date.asc";
const key =
  "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InVhZ2NjbmhwcGtmem54anhqaHFvIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NDQyNjc2NzMsImV4cCI6MjA1OTg0MzY3M30.ttsCu__TMxLQcc1YtwCLSpgQ5X758Qq8fFknzUhoHFI";

const options = {
  headers: {
    apikey: key,
  },
};

const data = await fetch(url, options).then((res) => res.json());

console.log(data);
import "../styles/general.css";
import Layout from "../layouts/Layout.astro";
import Kalendercard from "../components/Kalendercard.astro";
import Maenedfilter from "../components/Maenedfilter.astro";
import Kategorifilter from "../components/Kategorifilter.astro";
import Footer from "../components/Footer.astro";

import Header from "../components/Header.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <Layout>
    <body>
      <Header />
      <main>
        <div class="kalender-intro">
          <div class="intro-content">
            <h1>Kalender</h1>
            <div class="filter1">
              <Maenedfilter />
              <Kategorifilter />
            </div>
          </div>

          <div class="text">
            <p>
              Dyk ned i vores kalender og se, hvad der venter forude. Vi har
              sammensat et program fyldt med inspirerende events, engagerende
              workshops og indsigtsfulde foredrag – alt sammen med fokus på
              bæredygtighed, innovation og fællesskab.
            </p>
            <p>
              Uanset om du er her for at lære, netværke eller bare blive
              nysgerrig, er du mere end velkommen. Find det event, der taler til
              dig – og bliv en del af bevægelsen.
            </p>
          </div>
          <div class="filter2">
            <Maenedfilter />
            <Kategorifilter />
          </div>
        </div>
        <div class="uge">
          <p>Man</p>
          <p>Tirs</p>
          <p>Ons</p>
          <p>Tors</p>
          <p>Fre</p>
        </div>
        <div class="kalender">
          {data.map((event) => <Kalendercard event={event} />)}
        </div>
      </main>
      <Footer />
    </body>
  </Layout>
</html>

<style>
  h1 {
    font-size: 61px;
    text-align: center;
  }

  p {
    text-align: center;
    margin: 15px;
  }

  .filter1 {
    display: none;
  }
  .filter2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: left;
    margin-bottom: 50px;
    gap: 40px;
    margin: 20px;
  }

  .uge {
    display: none;
  }

  @media (min-width: 850px) {
    .uge {
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      margin-left: 40px;
      margin-right: 40px;
      p {
        font-size: 32px;
        text-align: left;
      }
    }
    .filter1 {
      display: flex;
      flex-direction: row;
      justify-content: left;
      margin-bottom: 50px;
      gap: 40px;
      margin: 20px;
      order: 2;
    }

    .filter2 {
      display: none;
    }
    .kalender {
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      margin-left: 40px;
      margin-right: 40px;
    }

    .kalender-intro {
      display: grid;
      grid-template-columns: 1fr 2fr;
      margin: 40px;
      gap: 20px;
    }

    .text {
      display: flex;
      flex-direction: column;
      p {
        text-align: left;
        font-size: 23px;
      }
    }

    h1 {
      font-size: 140px;
      text-align: left;
    }
  }
</style>
