---
//@ts-nocheck

const url =
  "https://uagccnhppkfznxjxjhqo.supabase.co/rest/v1/kalender?select=*";
const key =
  "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InVhZ2NjbmhwcGtmem54anhqaHFvIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NDQyNjc2NzMsImV4cCI6MjA1OTg0MzY3M30.ttsCu__TMxLQcc1YtwCLSpgQ5X758Qq8fFknzUhoHFI";

const options = {
  headers: {
    apikey: key,
  },
};

const data = await fetch(url, options).then((res) => res.json());

console.log(data);
import "../styles/general.css";
import Layout from "../layouts/Layout.astro";
import Kalendercard from "../components/Kalendercard.astro";
import Maenedfilter from "../components/Maenedfilter.astro";
import Kategorifilter from "../components/Kategorifilter.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <Layout>
    <body>
      <main>
        <h1>Kalender</h1>
        <p>
          Dyk ned i vores kalender og se, hvad der venter forude. Vi har
          sammensat et program fyldt med inspirerende events, engagerende
          workshops og indsigtsfulde foredrag – alt sammen med fokus på
          bæredygtighed, innovation og fællesskab.
        </p>
        <p>
          Uanset om du er her for at lære, netværke eller bare blive nysgerrig,
          er du mere end velkommen. Find det event, der taler til dig – og bliv
          en del af bevægelsen.
        </p>
        <div class="filter">
          <Maenedfilter />
          <Kategorifilter />
        </div>

        {data.map((event) => <Kalendercard event={event} />)}
      </main>
    </body>
  </Layout>
</html>

<style>
  h1 {
    font-size: 61px;
    text-align: center;
  }

  p {
    text-align: center;
    margin: 15px;
  }

  .filter {
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
    margin-bottom: 50px;
  }
</style>
