---

---

<div>
  <div class="title">Eventet starter om...</div>
  <div class="container">
    <div class="box">
      <div class="number">15</div>
      <div class="label">Dage</div>
    </div>
    <div class="box">
      <div class="number">20</div>
      <div class="label">Timer</div>
    </div>
    <div class="box">
      <div class="number">3</div>
      <div class="label">Minutter</div>
    </div>
  </div>
</div>
<style>
  .container {
    display: flex;
    justify-content: center;
    gap: 32px;
    font-family: sans-serif;
    background: #fdf8f2;
    padding: 32px;
    text-align: center;
  }

  .box {
    border: 2px solid #f27a3f;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    padding: 24px;
    width: 140px;
    height: 140px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .number {
    font-size: 60px;
    font-weight: bold;
    color: rgb(35, 50, 73);
  }

  .label {
    font-size: 16px;
    color: rgb(35, 50, 73);
    margin-top: 5px;
  }

  .title {
    margin-top: 20px;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    color: rgb(35, 50, 73);
    margin-bottom: 16px;
    font-family: "Roboto Condensed", sans-serif;
  }
</style>
