---

---

<article class="footer">
  <ul class="footer_menu">
    <div>
      <h2>KEA - Københavns<br /> Erhvervsakedemi</h2>
      <p>Guldbergsgade 29N 2200 København N</p><br />
      <p>Du skal ikke bare vide. Du skal kunne.</p>
      <img src="../img/ikoner.svg" alt="ikoner" class="ikoner" />
    </div>
    <div>
      <h2>Vejledning</h2>
      <li>
        <a href="https://mit.kea.dk/" class="li_punkter"
          >Studieadministrationen</a
        >
      </li>
      <li>
        <a href="https://mit.kea.dk/" class="li_punkter"
          >Studie- og Karrierevejledning</a
        >
      </li>
      <li>
        <a href="https://mit.kea.dk/" class="li_punkter"
          >SPS (specialpædagogisk støtte)</a
        >
      </li>
      <li>
        <a href="https://mit.kea.dk/" class="li_punkter">SU-vejledning</a>
      </li>
      <li>
        <a href="https://mit.kea.dk/" class="li_punkter">Praktik</a>
      </li>
    </div>
    <div>
      <h2>Relevante links</h2>
      <li>
        <a href="https://mit.kea.dk/" class="li_punkter">KEA Webmail</a>
      </li>
      <li>
        <a href="https://mit.kea.dk/" class="li_punkter">KEA Bibliotek</a>
      </li>
      <li>
        <a href="https://mit.kea.dk/" class="li_punkter">Studieviden</a>
      </li>
      <li>
        <a href="https://mit.kea.dk/" class="li_punkter">Itslearning</a>
      </li>
      <li>
        <a href="https://mit.kea.dk/" class="li_punkter">Fag- og modulkatalog</a
        >
      </li>
      <li>
        <a href="https://mit.kea.dk/" class="li_punkter"
          >Studieaktivitetsmodel</a
        >
      </li>
      <li>
        <a href="https://mit.kea.dk/" class="li_punkter">PARIS-aftalen</a>
      </li>
      <li>
        <a href="https://mit.kea.dk/" class="li_punkter">Ordensregler</a>
      </li>
    </div>
    <div>
      <h2>Praktisk info</h2>
      <li>
        <a href="https://mit.kea.dk/" class="li_punkter">Cookies og privatliv</a
        >
      </li>
      <li>
        <a href="https://mit.kea.dk/" class="li_punkter">Persondatapolitik</a>
      </li>
      <li>
        <a href="https://mit.kea.dk/" class="li_punkter"
          >Tilgængelighedserklæring</a
        >
      </li>
      <li>
        <a href="https://mit.kea.dk/" class="li_punkter">Find vej på KEA</a>
      </li>
    </div>
  </ul>
</article>

<style>
  .footer_menu {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 5rem;
    padding: 1rem;
    background-color: var(--secondary-color);
    font-family: "Roboto Condensed_Light", sans-serif;
  }
  p,
  h2,
  a {
    color: var(--primary-color);
  }

  h2 {
    font-size: 13px;
  }
  p,
  a {
    font-size: 10px;
  }
  a {
    text-decoration: none;
  }
  a:hover {
    color: var(--third-color);
  }
  ul {
    list-style-type: none;
  }
  h2 {
    padding: 20px 1px;
  }
  .ikoner {
    padding: 5px 2px;
    width: 70%;
  }

  @media (min-width: 850px) {
    .footer_menu {
      display: flex;
      justify-content: center;
      gap: 5rem;
      margin-top: 3rem;
      padding: 2rem;
      background-color: var(--secondary-color);
      font-family: "Roboto Condensed_Light", sans-serif;
    }
    p,
    h2,
    a {
      color: var(--primary-color);
    }
    h2 {
      font-size: 24px;
    }
    p,
    a {
      font-size: 16px;
    }

    a {
      text-decoration: none;
    }
    a:hover {
      color: var(--third-color);
    }
    ul {
      list-style-type: none;
    }
    h2 {
      padding: 20px 1px;
    }
    .ikoner {
      width: 100%;
    }
  }
</style>
