---

---

<details>
  <summary>Kategori</summary>
  <p><input type="checkbox" />Alle</p>
  <p><input type="checkbox" />Event</p>
  <p><input type="checkbox" />Workshop</p>
  <p><input type="checkbox" />Foredrag</p>
</details>

<style>
  details {
    background-color: #fff7f0;
    border-bottom: 1px solid black;
    display: inline-block;
    font-size: 32px;
    p {
      font-size: 25px;
    }
  }
</style>
