---

---

<details>
  <summary>Kategori</summary>
  <p><input type="checkbox" />Alle</p>
  <p><input type="checkbox" />Event</p>
  <p><input type="checkbox" />Workshop</p>
  <p><input type="checkbox" />Foredrag</p>
</details>

<style>
  details {
    background-color: #fff7f0;
    border-bottom: 1px solid #233249;
    display: inline-block;
    font-size: 25px;
    p {
      font-size: 25px;
      color: #233249;
    }
  }

  summary {
    color: #233249;
    font-family: "Roboto Condendensed_Black", sans-serif;
  }
</style>
