---

---

<details>
  <summary>Måned</summary>
  <p><input type="checkbox" />Alle</p>
  <p>
    <label class="custom-checkbox">
      <input type="checkbox" />
      <span>Januar</span>
    </label>
  </p>
  <p>
    <label class="custom-checkbox">
      <input type="checkbox" />
      <span>Februar</span>
    </label>
  </p>
  <p>
    <label class="custom-checkbox">
      <input type="checkbox" />
      <span>Marts</span>
    </label>
  </p>
  <p>
    <label class="custom-checkbox">
      <input type="checkbox" />
      <span>April</span>
    </label>
  </p>
  <p>
    <label class="custom-checkbox">
      <input type="checkbox" />
      <span>Maj</span>
    </label>
  </p>
  <p>
    <label class="custom-checkbox">
      <input type="checkbox" />
      <span>Juni</span>
    </label>
  </p>
  <p>
    <label class="custom-checkbox">
      <input type="checkbox" />
      <span>Juli</span>
    </label>
  </p>
  <p>
    <label class="custom-checkbox">
      <input type="checkbox" />
      <span>August</span>
    </label>
  </p>
  <p>
    <label class="custom-checkbox">
      <input type="checkbox" />
      <span>September</span>
    </label>
  </p>
  <p>
    <label class="custom-checkbox">
      <input type="checkbox" />
      <span>Oktober</span>
    </label>
  </p>
  <p>
    <label class="custom-checkbox">
      <input type="checkbox" />
      <span>November</span>
    </label>
  </p>
  <p>
    <label class="custom-checkbox">
      <input type="checkbox" />
      <span>December</span>
    </label>
  </p>
</details>

<style>
  details {
    /* position: absolute;
    top: 42%;
    left: 15%; */
    background-color: #fff7f0;
    border-bottom: 1px solid #233249;
    display: inline-block;
    font-size: 25px;

    p {
      font-size: 25px;
      color: #233249;
      padding: 5px;
    }

    summary {
      color: #233249;
      font-family: "Roboto Condendensed_Black", sans-serif;
    }
  }

  @media (min-width: 850px) {
    details {
      position: absolute;
      top: 35%;
      left: 4%;
    }
  }
</style>
