---

---

<details>
  <summary>Måned</summary>
  <p><input type="checkbox" />Alle</p>
  <p>
    <label class="custom-checkbox">
      <input type="checkbox" />
      <span>Januar</span>
    </label>
  </p>
  <p>
    <label class="custom-checkbox">
      <input type="checkbox" />
      <span>Februar</span>
    </label>
  </p>
  <p>
    <label class="custom-checkbox">
      <input type="checkbox" />
      <span>Marts</span>
    </label>
  </p>
  <p>
    <label class="custom-checkbox">
      <input type="checkbox" />
      <span>April</span>
    </label>
  </p>
  <p>
    <label class="custom-checkbox">
      <input type="checkbox" />
      <span>Maj</span>
    </label>
  </p>
  <p>
    <label class="custom-checkbox">
      <input type="checkbox" />
      <span>Juni</span>
    </label>
  </p>
  <p>
    <label class="custom-checkbox">
      <input type="checkbox" />
      <span>Juli</span>
    </label>
  </p>
  <p>
    <label class="custom-checkbox">
      <input type="checkbox" />
      <span>August</span>
    </label>
  </p>
  <p>
    <label class="custom-checkbox">
      <input type="checkbox" />
      <span>September</span>
    </label>
  </p>
  <p>
    <label class="custom-checkbox">
      <input type="checkbox" />
      <span>Oktober</span>
    </label>
  </p>
  <p>
    <label class="custom-checkbox">
      <input type="checkbox" />
      <span>November</span>
    </label>
  </p>
  <p>
    <label class="custom-checkbox">
      <input type="checkbox" />
      <span>December</span>
    </label>
  </p>
</details>

<style>
  details {
    background-color: #fff7f0;
    border-bottom: 1px solid black;
    display: inline-block;
    font-size: 32px;
    p {
      font-size: 25px;
    }
  }
</style>
